<% var data = {
  title: "Репетитор англійської мови",
  author: "Krusser"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section id="section00">
  <h2>Як ми працюємо</h2>
  <article class="blocks">
    <div>
      <img src="../../img/all-icon.png" alt="Учні">
      <h3>Навчаємо всіх!</h3>
      <p>В нашій школі ми можемо допомогти всім,
         хто хоче вчитися! Школярам, студентам і дорослим!</p>
    </div>
    <div>
      <img src="../../img/24-icon.png" alt="Графік">
      <h3>В будь-який час!</h3>
      <p>Наші репетитори доступні в будь-який зручний для вас час щодня, 24 години на добу!</p>
    </div>
  </article>
</section>
<section id="section01">
  <h2>Викладчі</h2>
  <div class="person">
    <img src="../../img/person1.jpg" alt="Викладчі">
    <div>
      <h3>Гончаренко Віталія</h3>
      <p>Наші репетитори доступні в будь-який зручний для вас час щодня, 24 години на добу!</p>
    </div>
  </div>
 
  <div class="person">
    <img src="../../img/person2.jpg" alt="Викладчі">
    <div>
      <h3>Гончаренко Віталія</h3>
      <p>Наші репетитори доступні в будь-який зручний для вас час щодня, 24 години на добу!</p>
    </div>
  </div>
  
  <div class="person">
    <img src="../../img/person3.jpg" alt="Викладчі">
    <div>
      <h3>Гончаренко Віталія</h3>
      <p>Наші репетитори доступні в будь-який зручний для вас час щодня, 24 години на добу!</p>
    </div>
  </div>
  
  <div class="person">
    <img src="../../img/person4.jpg" alt="Викладчі">
    <div>
      <h3>Гончаренко Віталія</h3>
      <p>Наші репетитори доступні в будь-який зручний для вас час щодня, 24 години на добу!</p>
    </div>
  </div>
    
</section>

<section id="section02">
  <h2>Курси</h2>
  <article class="blocks">
    <div class="col">
      <div>
        <img src="../../img/eng-gia.png" alt="IELTS">
        <h3>Підготовка до іспитів IELTS</h3>
      </div>
      <p>
          Іспит набув популярності серед українців. 
          Тисячі студентів та дорослих здають цей іспит кожен місяць 
          для отримання заповітного сертифіката IELTS.
          Ми вас підготуємо !!!
      </p>
      <div class="price">
        <img src="../../img/hour-price-icon.svg" alt="price">
        <span>від 50 грн/год.</span>

        <img src="../../img/lessons-icon.svg" alt="price">
        <span>35 уроків</span>
      </div>
    </div>

    <div class="col">
        <div>
          <img src="../../img/eng-speaking.png" alt="Розмовна англійська!">
          <h3>Розмовна англійська!</h3>
        </div>
        <p>
            Знання мови - це, перш за все спілкування з іншими людьми і 
            вміння легко висловлювати свої думки. Для досягнення цієї мети, 
            на заняттях розмовною англійською основна увага приділяється 
            розмовній практиці,
             нарощування словникового запасу, розвитку вміння говорити 
             і розуміти співрозмовника.
        </p>
        <div class="price">
            <img src="../../img/hour-price-icon.svg" alt="price">
            <span>від 75 грн/год.</span>
            <img src="../../img/lessons-icon.svg" alt="price">
            <span>20 уроків</span>
        </div>
    </div>
    
    <div class="col">
        <div>
          <img src="../../img/eng-s-0.png" alt="Англійська з нуля">
          <h3>Англійська з нуля</h3>
        </div>
        <p>
            Нуля не буває! Ви знаєте сотні англійських слів, самі 
            про те не підозрюючи. Наприклад: джинси, крекер, чіпси,
             крос, дисплей. Отже, Ви починаєте вже далеко не з нуля. 
             Продовжуючи Ваш шлях, важливо пам'ятати, що не існує універсального 
             методу вивчення англійської мови. Потрібно комбінувати різні підходи, 
             пробувати щось нове і користуватися «перевіреним». Можна вивчати мову 
             за допомогою фільмів,
             серіалів, але не варто нехтувати граматикою, яка є «скелетом» мови.
        </p>
        <div class="price">
            <img src="../../img/hour-price-icon.svg" alt="price">
            <span>від 65 грн/год.</span>
            <img src="../../img/lessons-icon.svg" alt="price">
            <span>70 уроків</span>
        </div>
    </div>
    
    <div class="col">
        <div>
          <img src="../../img/eng-international-exams.png" alt="Учні">
          <h3>Англійська мова для дорослих</h3>
        </div>
        <p>
            Отже, студентські роки вже позаду, від конспектів і 
            домашнього завдання залишилися тільки спогади, а зі словом
             «іспит» асоціюється прекрасна юність. І тут, як віяння з минулого, 
             іноземна мова нагадує про себе. Можливо, Вам потрібна англійська для роботи,
              або ж Ви часто подорожуєте і іноземну мову Вам необхідний для спілкування за кордоном,
               можливо, Ви шукаєте роботу і англійська потрібна для вдалого співбесіди. Якими б не
                були причини, які мотивують Вас до вивчення англійської, Ви на вірному шляху. 
                Курси англійської для дорослих
             пропонують калейдоскоп програм, коректованих 
             відповідно до Ваших цілями і побажаннями.
        </p>
        <div class="price">
            <img src="../../img/hour-price-icon.svg" alt="price">
            <span>від 85 грн/год.</span>
            <img src="../../img/lessons-icon.svg" alt="price">
            <span>45 уроків</span>
        </div>
    </div>
      
    <div class="col">
      <div>
        <img src="../../img/eng-business.png" alt="Учні">
        <h3>Курси з бізнес англійської</h3>
      </div>
      <p>
          На сьогоднішній день знання Бізнес англійської 
          стає необхідною умовою успішного ведення бізнесу і роботи в крупних компаніях.
          Володіння англійською в сфері бізнесу також є показником рівня спеціаліста та 
          його професіоналізму, поряд з комп'ютерною грамотністю та іншими навичками. 
          Курси ділової англійської розраховані на слухачів, англійська мова у яких на
           рівні від Pre-Intermediate і вище. Мета курсу - розвинути ваші навички усних
            та письмових комунікацій,
           які Ви зможете щодня застосовувати на роботі, і збагатити вашу бізнес лексику.
      </p>
      <div class="price">
          <img src="../../img/hour-price-icon.svg" alt="price">
          <span>від 100 грн/год.</span>
          <img src="../../img/lessons-icon.svg" alt="price">
          <span>18 уроків</span>
      </div>
    </div>
      
    <div class="col">
      <div>
        <img src="../../img/english_100.png" alt="Учні">
        <h3>Курси ЄДІ англійська</h3>
      </div>
      <p>
          Даний курс націлений на Дріллінг типових завдань для здачі ЄДІ
           з англійської мови, але, при цьому передбачена ліквідація прогалин 
           знань учня і корекція його навичок. Мета даного курсу - допомогти учневі
            відчути себе впевнено і бути готовим виконати подібні завдання під час
             реального іспиту. Завдання різноманітні і варіюються по складності, 
          особлива увага приділяється аудіювання та репродуктивної письмовій діяльності.
      </p>
      <div class="price">
          <img src="../../img/hour-price-icon.svg" alt="price">
          <span>від 35 грн/год.</span>
          <img src="../../img/lessons-icon.svg" alt="price">
          <span>25 уроків</span>
      </div>
    </div>
  </article>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>